.tituloCentrado p{
text-align: center !important;
background-color: #000000;
color: #ffffff;
border-radius: 16px;
margin-top: 41px;
}
.tituloCentrado h1{
font-size: 34px;
text-align: center;
}
.tituloCentrado h4{
text-align: center;
}
.imgFondo{
height: 25%;
width: 100%;
}
.img_div{
height: 75vh !important;
width: 100% !important;
}
footer{
background-color: #000000;
color: #ffffff;
margin-top: 25px;
}
#sigUp,#bodylogin{
background-image: url("imagenes/pesas.jpg");
}
#sigUp input{
margin-top: 20px;
margin-bottom: 20px;
}
#sigUp .btn-block{
margin-top: 20px !important;
margin-bottom: 20px !important;
}
#sigUp .radio-inline{
margin-top: 20px !important;
margin-bottom: 20px !important;
}
#bodylogin input{
margin-top: 20px;
margin-bottom: 20px;
}
#bodylogin .btn-block{
margin-top: 20px !important;
margin-bottom: 20px !important;
}
#bodylogin form{
margin-top: 25%;
}
.cliente ul{
background-color: grey;
margin-top: 40%;
list-style:none;
}
.cliente ul li:hover{
background-color: #bba9a9;
}
.cliente ul li{
line-height: 48px;
margin-top: 5%;
}
.cliente ul li a{
color:#ffffff;
}
.cliente{
margin-left: 27px;
margin-top: 109px;
margin: 63px;
}
.peso{
background-color: #e0cece;
margin-left: 4%;
margin-top: 0%;
}
.textoLargo{
margin-right: 152px;
text-align: center;
margin-left: 100px;
margin-top: 28px;
}
.rutinas{
background-color: grey;
width: 55%;
margin-top: 3%;
}
.nav-stacked{
width: 38%;
margin-top: 0%;
}
.columna{
width: 10%;
}
.table-bordered{
margin-top: 13%;
width: 68%;
margin-left: 23%;
}
.glyphicon {  margin-bottom: 10px;margin-right: 10px;}
small {
display: block;
line-height: 1.428571429;
color: #999;
}
.nombredelacaja{
width: 38%;
background-color: #e8d3d7;
}
.perfil{
margin-top: 9%;
margin-left: 27%;
}

#cuadroRutina{
  height: 400px;
  background-color: #D8D8D8;
  font-size: 2em;
}
#panel-resultado{
display: flex;
justify-content: center;
}
#resultado{
	display: flex;
}
#reproductor{
width: 720px;
margin: 20px auto;
padding: 5px;
background: #999999;
border: 1px solid #666666;
 -moz-border-radius: 5px;
 -webkit-border-radius:5px;
border-radius: 5px;
}
#botones{
	float: left;
	width: 100px;
	height: 15px;
}
#barra{
	position: relative;
	float: left;
	width: 600px;
	height: 8px;
	padding: 2px;
	background: #EEEEEE;
	border:1px solid #CCCCCC;
}
#progreso{
	position: absolute;
	width: 0px;
	height: 8px;
	background: rgb(0,0,255,.9);
}
#reproducir{
	height: 20px;
}